<div>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter, class: 'form-label' %><br>
    <%= form.text_field :commenter, class: 'form-control' %>
  </p>
  <p>
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </p>

  <div class='d-flex justify-content-center gap-4 align-items-center'>
    <%= form.submit class: 'btn btn-secondary'%>
    <div class='d-flex gap-1'>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>
  </div>

<% end %>
</div>
