<%= form_with model: article do |form| %>
<div class='container'>
  <div class='container'>
    <%= form.label :title, class: 'form-label h5 mb-0' %><br>
    <%= form.text_field :title, class: 'form-control'%>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class='container'>
    <%= form.label :body, class: 'form-label h5 mb-0' %><br>
    <%= form.text_area :body, class:'form-control' %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class='d-flex justify-content-center gap-4 align-items-center'>
    <%= form.submit class: 'btn btn-secondary' %>
    <div class='d-flex gap-1'>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: 'form-select' %>
    <div>
  </div>
<div>
<% end %>
