<%= render 'navbar' %>

<div class='container w-75'>
  <h1 class='text-center mt-3'>Articles</h1>

  Our blog has <%= Article.public_count %> articles and counting!

  <ul class='list-group'>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li class='list-group-item d-flex justify-content-between align-items-center'>
          <p class='mb-0'><%= link_to article.title, article, class: 'text-dark li-articles' %></p>
          <% if user_signed_in? %>
          <p class='mb-0'><%= link_to article.user.user_name, user_path(article.user_id), class: 'text-dark li-articles' %></p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <div class='d-flex justify-content-center'>
      <%= link_to 'New Article', new_article_path, class: 'btn btn-secondary mt-3' %>
    </div>
  <% else %>
    <div class='d-flex justify-content-center'>
      <%= link_to 'New Article', new_user_registration_path, class: 'btn btn-secondary mt-3' %>
    </div>
  <% end %>

</div>
