<%= render 'navbar' %>

<div class='container'>
  <h1 class='text-center mt-3'><%= @article.title %></h1>

  <p><%= @article.body %></p>

  <ul class='d-flex justify-content-center gap-3'>
     <% if user_signed_in? %>
      <% if current_user.id == @article.user.id %>
        <div class='btn btn-outline-primary'>
          <li><%= link_to 'Edit', edit_article_path(@article), class: 'text-dark'  %></li>
        </div>
        <div class='btn btn-outline-danger'>
        <li><%= link_to 'Destroy', article_path(@article), data: {
                          turbo_method: :delete,
                          turbo_confirm: 'Are you sure?'
                        }, class: 'text-dark' %>
        </li>
        </div>
      <% end %>
    <% end %>
  </ul>

  <% if @article.comments.any? %>
    <h2>Comments</h2>
    <%= render @article.comments %>
  <% end %>

  <%= render 'comments/form' %>
</div>
